<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <%= image_tag @product.image.url, class: 'main-img' %>
    <div>
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <div class="quantity">
        <% if @product.quantity == 0 %>
          <span> SOLD OUT </span>
        <% else %>
          <span><%= @product.quantity %> in stock at </span>
        <% end %>
        <span><%= humanized_money_with_symbol @product.price %></span>
      </div>
      <div class="price">
        <% if @product.quantity > 0 %>
          <%= button_to add_item_cart_path(product_id: @product.id), class: 'btn' , method: :post do %>
            <%= fa_icon "shopping-cart", text: 'Add' %>
          <% end %>
        <% end %>          
      </div>

    </div>
  </article>
  <table class="table table-bordered">
    <tr>
      <th>User</th>
      <th>Review</th>
      <th>Stars</th>
    </tr>
    <% @product.reviews.each do |review|%>
     <td><%=review.user_id%></td>
     <td><%=review.description%></td>
     <td><%=review.rating%></td>
    <% end %>
  </table>
  <form class="form">
    <div class="">
      <%= form_for [@product, @product.reviews.new], url: product.reviews_path do |form| %>
        <div class="form-group">
          <%= form.label :rating %>
          <%= form.select :rating, options_for_select([1, 2, 3, 4, 5]), class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_field :description, class: 'form-control' %>
        </div>
        <%= form.submit 'Create Review', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </form>

</section>
